.dashboard-container {
  padding: 2rem;
}

.dashboard-container h1 {
  margin-bottom: 1rem;
}

.dashboard-list {
  margin-top: 1rem;
  padding-left: 1rem;
}

.dashboard-list li {
  margin-bottom: 6px;
  color: var(--text-dark);
}
