.pill-btn {
  background: var(--pink);
  color: white;
  border: none;
  border-radius: 24px;
  padding: 8px 16px;
  box-shadow: var(--shadow);
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease-in-out;
}

.pill-btn:hover {
  opacity: 0.85;
}
